*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Flutter/Dart files
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
*.apk
*.aab

# Kotlin files
.kotlin/
android/.kotlin/

